@font-face{
  src: url(Fonts/2030Light.otf);
  font-family: noir;
}

body{
 background-color: #222831;
 font-family: noir;
}

::-webkit-scrollbar{
  width: 0px;
}


ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

li{
  list-style-type: disc;
  font-family: noir;
}

.logoProj{
  float: right;

}

.logoCode{
  float: right;
  object-fit: cover;
}

.catpng{
  float: right;
  width: auto;
}

.IntroHigh{
  float: right;
  border-radius: 10px;
 
}

.catFacts{
  border-radius: 10px;
  height: auto;
    font-size: 14px;
  padding: 15px;
}

html {
  scroll-behavior: smooth;
}

#section0 {
  height: 70px;
  background-color: #222831;
}

#section1 {
  float: left;
  width: 100%;
   font-family: noir;
  overflow: hidden;
   color: #E6E8EC;
   padding: 10px;
   position: relative;
}

#section2 {
  padding: 15px;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  font-family: noir;
  color: #E6E8EC;
  background-color: #222831;
}

#section3 {
  border-radius: 10px;
  padding: 3px;
  width: 100%;
  overflow: hidden;
  font-family: noir;
  color: #E6E8EC;
  background-color: #222831;
}

#High {
  border-radius: 10px;
  padding: 3px;
  width: 100%;
  overflow: hidden;
  font-family: noir;
  color: #E6E8EC;
  background-color: #222831;
}
.topnav{
  overflow: hidden;
  border-radius: 10px;
}

/* Navigation Bar */
.topnav a {
  float: left;
  color: #4C515F;
  padding: 15px 17px;
  position: relative;
  text-decoration: none;
 font-family: noir;
  font-size: 13px;
  font-weight: bolder;

}

/* Change the color of links on hover */
.topnav a:hover {
  color: #E6E8EC;

}


/* Add a color to the active/current link */
.topnav a.active {
  color: #E6E8EC;
}
.topnav .icon {
  float: left;
  display: none;
}
.topnav .logoNav{
  float: right;
}


/* Column with Rows */

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  font-family: noir;
  width: 32%;
  padding: 15px;
  border-radius: 10px;
  margin-right: 15px;
  margin-bottom: 25px;
  font-size: 14px;
}

.columnIntro {
  float: left;
  width: 50%;
  color: #E6E8EC;
  padding: 25px;
  object-fit: fill;
  font-family: noir;
}

.columnIntro2 {
  float: left;
  width: 33.33%;
  color: #E6E8EC;
  padding: 15px;
  text-align: center;
  margin-bottom: 20px;
  font-family: noir;
}

.columnHigh {
  float: left;
  width: 50%;
  color: #E6E8EC;
  padding-left: 10px;
}

.columnHigh2 {
  float: left;
  width: 50%;
  color: #E6E8EC;
  padding: 15px;
  display: flex;
}

.columnMockups {
  float: left;
  width: 50%;
  color: #E6E8EC;
  padding: 0px;
  margin-bottom: 20px;
  border-radius: 10px;
}


.UIhigh{
  display: none;
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
}

.UIhigh2{
  display: none;
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Explore Button */
.buttonStart {
  font-family: noir;
  border-radius: 6px;
  background-color: #407BFF;
  border: none;
  color: #E6E8EC;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px
  cursor: pointer;
}

.buttonProj {
  font-family: noir;
   border-radius: 6px;
  background-color: #407BFF;
  border: none;
  color: #E6E8EC;
  margin-right: 10px;
  margin-top: 20px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}



.containerMockups {
  position: relative;
  max-width: 620px;
  margin: 3;
  font-size: 12px;
  float: left;
}

.containerMockups img {vertical-align: middle;}

.containerMockups .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0.0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 98%;
  padding: 15px;
   border-radius: 10px;
}




@media only screen and (max-width:600px) {
  /* For mobile phones: */
 .main, #section0, #section1, #section2, #section3, .column2, .columnIntro2, .columnMockups {
    width: 100%;
}

 .catpng{
   width: 100%;
   height: 340px;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }
.topnav{
  font-size: 12px;

}

.columnIntro{
  width: 100%;
  object-fit: fill;
}

.topnav .logoNav{
  float: left;

}

.columnHigh2 {
  width: 100%;
  display: table;
  padding: 0px;
}

li{
  font-size: 13px;
}

.shortener{
  font-size: 13px;
}

.IntroHigh{
  width: 100%;
  border-radius: 10px;
   height: 450px;
   object-fit: cover ;
   float: left;

}

.logoCode{
  float: right;
  object-fit: cover;
}

.columnHigh{
  width: 100%;
  padding: 5px;
}


 .column{
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
  font-size: 13px;
 }

 .buttonProj{
  font-size: 11px;
 }


.logoProj{
  height: 55px;
  width: 55px;
}

.logoCode{
   height: 35px;
  width: 35px;
}

.catFacts{
 font-size: 13px;
}


.containerMockups{
  position: relative;
  max-width: 100%;
  margin: 3 auto;
  font-size: 11px;
}

.containerMockups .content {
  position: absolute;
  padding: 10px;
   border-radius: 10px;
}

@media only screen and (max-width:800px) {
  /* For tablets: */

  }






/* Navigation Bar Responsive */

  @media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
}